<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<p-panel>
  <p-header>
    <div class="ui-helper-clearfix">
      <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px">Google Map</span>
    </div>
  </p-header>
  <div id="googlemap-box">
    <input id="agm-search-input" type="text" class="form-control" placeholder="Search" name="search" (keypress)="search($event)"
      [(ngModel)]="textInput">
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" mapTypeId="hybrid" (mapClick)="placeMarker($event)">
      <agm-marker [latitude]="latMaker" [longitude]="lngMaker">
      </agm-marker>
    </agm-map>
  </div>
  <p-footer>
    <button pButton type="button" icon="fa fa-arrow-left" label="Quay lại" class="ui-button-warning" (click)="hiddenGoogleMap()"></button>
    <button [disabled]="!(isValid && textInput)" pButton type="button" icon="fa fa-check" label="Xác nhận" class="ui-button-success" (click)="onSubmitPosition()"></button>
  </p-footer>
</p-panel>
