<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->

<div class="panel panel-default">
  <div class="panel-body">
    <input id="agm-search-input" type="text" class="form-control" placeholder="Search" name="search" (keypress)="search($event)"
      [(ngModel)]="textInput">
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" mapTypeId="hybrid" (mapClick)="placeMarker($event)">
      <agm-marker [latitude]="latMaker" [longitude]="lngMaker">
      </agm-marker>
    </agm-map>
  </div>
  <div class="panel-footer">
    <!-- <button class="btn btn-danger" (click)="hiddenGoogleMap()"><span class="fa fa-arrow-left"></span> Quay lại</button> -->
    <button [disabled]="!isValid" class="btn btn-success" (click)="onSubmitPosition()">
      <span class="fa fa-check"></span> Xác nhận</button>
  </div>
</div>
