<div class="row">
  <div class="col-sm-8">

    <!-- Custom Success/Error Message -->
    <div class="show-hide-message">
      <div [ngClass]="messageClass">
        {{ message }}
      </div>
    </div>
    <!-- Start new house form -->

    <div class="panel panel-primary" *ngIf="!isShowGm">
      <div class="panel-heading">
        <h3 class="panel-title">Thêm nhà mới</h3>
      </div>
      <div class="panel-body">
        <form [formGroup]="formNewHouse" (submit)="onHouseSubmit()">
          <div class="form-group">
            <label for="address">Địa chỉ:</label>
            <div>
              <input [(ngModel)]="address" (focus)="showGoogleMap()" type="text" name="adress" class="form-control" placeholder="*Ghi rõ địa chỉ"
                autocomplete="off" formControlName="address">
            </div>
          </div>
          <hr>

          <div class="row">
            <div class="col-sm-12"><b>Thông tin mô tả:</b></div>
            <div class="col-sm-8">
              <div class="form-group">
                <div [ngClass]="{'has-error': (formNewHouse.controls.info.errors && formNewHouse.controls.info.dirty), 'has-success': !formNewHouse.controls.info.errors}">
                  <textarea class="form-control" rows="10" id="house-info" formControlName="info" placeholder="">
                  </textarea>
                  <ul class="help-block">
                    <li *ngIf="formNewHouse.controls.info.errors?.required && formNewHouse.controls.info.dirty">Bạn cần nhập trường này</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <p>
                Giới thiệu về khu nhà trọ của bạn. Ví dụ như:
                <br> * Vị trị:
                <br> - Gần các trường Bách Khoa, Kinh tế
                <br> - Gần các điểm xe bus 52, 30
                <br> * Điện nước:
                <br> - Điện giá 3k/số
                <br> - Nước 25k/khối
                <br> * An ninh đảm bảo
                <br> * Có chỗ nấu ăn và để xe tầng 1
              </p>
            </div>
          </div>

          <!-- Go Back Button -->
          <button [disabled]="processing" type="button" name="button" (click)="goBack()" class="btn btn-warning">Quay lại</button>
          <!-- Submit Button -->
          <button [disabled]="processing || formNewHouse.invalid" type="submit" name="button" class="btn btn-success">Xác nhận</button>
        </form>
      </div>
    </div>

  </div>

  <div class="col-sm-4">

  </div>
</div>

<!-- End new house form -->

<!-- Googlemap Panel -->
<app-googlemap *ngIf="isShowGm" (hiddenGM)="hiddenGoogleMap()" (sendPosition)="getPosition($event)"></app-googlemap>
