<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>
</head>
<body>
    <div class="row" style="padding-top: 2em;">
        <div class="col-sm-3">
            <div class="avatar-box" (mouseover)="mouseOverAvatar($event)" (mouseleave)="mouseLeaveAvatar($event)">
                <img *ngIf="processingUploadAvatar" id="processingUploadImage" class="spin" [src]="processingUploadImage" alt="">
                <img id="avatar" [src]="avatarImage" alt="profile image">
                <div *ngIf="onMouseAvatar" id="upload-avatar-box">
                    <input id="file-avatar-input" type="file" accept=".jpg, .jpeg, .png" (change)="onFileSelected($event)"/>
                    <div id="upload-avatar">
                        <span id="upload-camera" class="glyphicon glyphicon-camera"></span> Tải ảnh đại diện
                    </div>

                </div>
            </div>
            <br>
            <div>
                <a routerLink="/user/update-info"><button class="btn btn-danger"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Chỉnh sửa thông tin</button></a>
                
            </div>
            <br>
            <!-- <div class="white-box-card">
                <ul>
                    <li>Trang cá nhân</li>
                    <li>Quản lý nhà của bạn</li>
                    <li>More</li>
                </ul>
            </div> -->
        </div>
        <div class="col-sm-6">
            <div class="white-box-card">
                <legend> <b>Thông tin tài khoản</b> </legend>
                <div style="display: block;">
                    <p><b><i class="fa fa-user-o" aria-hidden="true"></i> Tên tài khoản:</b> {{ user?.username }}</p>
                    <p><b><i class="fa fa-envelope-o" aria-hidden="true"></i> Email:</b> {{ user?.email }}</p>
                    <p><b><i class="fa fa-anchor" aria-hidden="true"></i> Vai trò:</b> {{ user?.role }}</p>
                </div>
            </div>
            <br>
            <div class="white-box-card">
                <legend><b>Thông tin người dùng</b></legend>
                <div style="display: block;">
                    <p><b><i class="fa fa-check" aria-hidden="true"></i> Họ và tên:</b> {{ user?.info.name.surname + ' ' + user?.info.name.firstname }}</p>
                    <p><b><i class="fa fa-child" aria-hidden="true"></i> Giới tính:</b> {{ user?.info.sex }}</p>
                    <p><b><i class="fa fa-birthday-cake" aria-hidden="true"></i> Ngày sinh:</b> {{ user?.info.birthday | date:"dd-MM-yyyy" }}</p>
                </div>
            </div>
            <br>
            <div class="white-box-card">
                <legend><b>Thông tin liên lạc</b></legend>
                <div style="display: block;">
                    <p><b><i class="fa fa-location-arrow" aria-hidden="true"></i> Địa chỉ:</b> {{ user?.info.contact.address }}</p>
                    <p><b><i class="fa fa-phone" aria-hidden="true"></i> Số điện thoại:</b> {{ user?.info.contact.phoneNumber }}</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>