nav {
    margin: 0;
    padding: 0;
    background: rgb(37, 34, 34);
    border-radius: 0%;
}
a {
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
}
#avatarImage {
    width: 2.5rem;
    height: 2.5rem;
}
